### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Mac
.DS_Store

# Maven
!.mvn/wrapper/maven-wrapper.jar
.mvn
log/
target/